﻿@model WebApplication7.Models.User
@*ViewData["Title"] = "Index";*@
}

<h2>Index</h2>

<p>MSTS User API</p>

<ul>
    @for (int i = 0; i < 4; i++)
    {
        <li>@ViewData["Message"]</li>
        <li>  Model.Name</li>
        @*<li> @Html.DisplayFor(Model => Model.Name) </li>*@

    }
    </ul>

<ul>
    @for (int i = 0; i < 4; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
